repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: mixed-line-ending
    - id: trailing-whitespace
      exclude: README.md
    - id: requirements-txt-fixer
    - id: check-yaml
    - id: check-json
    - id: fix-encoding-pragma
    - id: check-byte-order-marker
    - id: debug-statements
    - id: check-added-large-files
      exclude: tests/media/.+
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-toml
    - id: detect-private-key
    - id: end-of-file-fixer
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
#  - repo: https://github.com/pre-commit/mirrors-mypy
#    rev: 'v0.942'
#    hooks:
#    -   id: mypy
#        additional_dependencies: [types-pkg-resources, types-requests]
