version: TEMP_VER-{build}

skip_commits:
  files:
    - data/*
    - README.md
    - AUTHORS
    - CHANGES
    - LICENSE
    - .gitignore
    - .pip8speaks.yml
  message: /\[skip ci\]/


image:
  - Visual Studio 2017

platform: x64

branches:
  only:
    - master
    - build

install:
  - ps: >-
      try {Update-AppveyorBuild -Version "$(C:\Python36-x64\python.exe scripts\get_version.py)"}
      catch {Update-AppveyorBuild -Version "$(C:\Python36-x64\python.exe scripts\get_version.py)-$env:APPVEYOR_BUILD_ID"}
  - ps: Update-AppveyorBuild -Message "[$env:APPVEYOR_REPO_BRANCH] $env:APPVEYOR_REPO_COMMIT_MESSAGE"
  - cmd: git clone -b ffmpeg --single-branch https://github.com/cdgriffith/binary-files.git
  - cmd: mkdir SvtAv1
  - cmd: appveyor DownloadFile https://ci.appveyor.com/api/projects/OpenVisualCloud/svt-av1/artifacts/Bin/Release/SvtAv1Enc.dll?branch=master -FileName SvtAv1\SvtAv1Enc.dll
  - cmd: appveyor DownloadFile https://ci.appveyor.com/api/projects/OpenVisualCloud/svt-av1/artifacts/Bin/Release/SvtAv1EncApp.exe?branch=master -FileName SvtAv1\SvtAv1EncApp.exe
  - cmd: appveyor DownloadFile https://ci.appveyor.com/api/projects/OpenVisualCloud/svt-av1/artifacts/Bin/Release/SvtAv1Enc.lib?branch=master -FileName SvtAv1\SvtAv1Enc.lib
  - cmd: appveyor DownloadFile https://ci.appveyor.com/api/projects/OpenVisualCloud/svt-av1/artifacts/Bin/Release/SvtAv1Enc.exp?branch=master -FileName SvtAv1\SvtAv1Enc.exp
  - cmd: C:\Python36-x64\python -m pip install --upgrade pip setuptools --ignore-installed
  - cmd: C:\Python36-x64\python -m pip install -r requirements.txt


build_script:
  - ps: mkdir dist
  - ps: '[IO.File]::WriteAllLines("bundled", "ffmpeg and svtav1")'
  - ps: 'echo "" | out-file -encoding ASCII bundled'
  - ps: 'echo $env:VERSION | out-file -encoding ASCII build_version'
  - ps: 'New-Item -Path Env: -Name VERSION -Value $(C:\Python36-x64\python.exe scripts\get_version.py)'
  - ps: 'echo "Building branch $env:APPVEYOR_REPO_BRANCH - version $env:VERSION"'
  - cmd: if %APPVEYOR_REPO_BRANCH% == master ( C:\Python36-x64\Scripts\pyinstaller --add-data "bundled;." --add-data "data\icon.ico;data" --add-data "docs\build-licenses.txt;docs" --add-data "binary-files/executables/windows/ffmpeg/lgpl/N-93214-g7e4d3dbe18/x86_64/*;." --paths "C:\Python36-x64\Lib\site-packages\shiboken2" --add-data "SvtAv1\*;." flix\gui.py  --icon data\icon.ico --name FastFlix --clean --onefile --noconsole )
  - cmd: if %APPVEYOR_REPO_BRANCH% == master ( C:\Python36-x64\Scripts\pyinstaller --add-data "data\icon.ico;data" --add-data "docs\build-licenses.txt;docs" --paths "C:\Python36-x64\Lib\site-packages\shiboken2" flix\gui.py  --icon data\icon.ico --name FastFlix-Light --clean --onefile --noconsole )
  - cmd: IF NOT %APPVEYOR_REPO_BRANCH% == master ( C:\Python36-x64\Scripts\pyinstaller --add-data "bundled;." --add-data "build_version;." --add-data "data\icon.ico;data" --add-data "docs\build-licenses.txt;docs" --add-data "binary-files/executables/windows/ffmpeg/lgpl/N-93214-g7e4d3dbe18/x86_64/*;." --paths "C:\Python36-x64\Lib\site-packages\shiboken2" --add-data "SvtAv1\*;." flix\gui.py  --icon data\icon.ico --name FastFlix --clean --onefile )
  - cmd: IF NOT %APPVEYOR_REPO_BRANCH% == master ( C:\Python36-x64\Scripts\pyinstaller --add-data "build_version;." --add-data "data\icon.ico;data" --add-data "docs\build-licenses.txt;docs" --paths "C:\Python36-x64\Lib\site-packages\shiboken2" flix\gui.py  --icon data\icon.ico --name FastFlix-Light --clean --onefile )
  - cmd: move dist\*.exe .

test: off

artifacts:
  - path: 'FastFlix*exe'

deploy:
  - provider: Environment
    name: release
    artifact: 'FastFlix*exe'
    draft: false
    prerelease: true
    description: ''
    on:
      branch:
        - build
        - develop

  - provider: Environment
    name: release
    artifact: 'FastFlix*exe'
    draft: false
    prerelease: false
    description: ''
    on:
      branch:
        - master
