version: TEMP_VER-{build}

skip_commits:
  files:
    - data/*
    - docs/*
    - README.md
    - AUTHORS
    - CHANGES
    - LICENSE
    - .gitignore
    - .pip8speaks.yml
  message: /\[skip ci\]/


image:
  - Visual Studio 2019

platform: x64

branches:
  only:
    - master
    - build
    - develop

install:
  - ps: >-
      try {Update-AppveyorBuild -Version "$(C:\Python38-x64\python.exe scripts\get_version.py)"}
      catch {Update-AppveyorBuild -Version "$(C:\Python38-x64\python.exe scripts\get_version.py)-$env:APPVEYOR_BUILD_ID"}
  - ps: Update-AppveyorBuild -Message "[$env:APPVEYOR_REPO_BRANCH] $env:APPVEYOR_REPO_COMMIT_MESSAGE"
  - cmd: C:\Python38-x64\python -m pip install --upgrade pip setuptools --ignore-installed
  - cmd: C:\Python38-x64\python -m pip install -r requirements-build.txt

build_script:
  - ps: mkdir dist
  - ps: 'New-Item -Path Env: -Name VERSION -Value $(C:\Python38-x64\python.exe scripts\get_version.py)'
  - cmd: echo %VERSION% > build_version
  - ps: 'echo "Building branch $env:APPVEYOR_REPO_BRANCH - version $env:VERSION"'
  - cmd: C:\Python38-x64\Scripts\pyinstaller --add-data "fastflix\data\encoders\*;fastflix\data\encoders" --add-data "fastflix\data\rotations\*;fastflix\data\rotations" --add-data "fastflix\data\fonts\*;fastflix\data\fonts" --add-data "fastflix\data\icon.ico;fastflix\data" --add-data "CHANGES;fastflix\." --add-data "docs\build-licenses.txt;docs" --hidden-import=pyqt5 --hidden-import=requests --hidden-import="python-box" --hidden-import=reusables --hidden-import="pkg_resources.py2_warn"  fastflix\gui.py  --icon fastflix\data\icon.ico --name FastFlix --clean --onefile
  - cmd: C:\Python38-x64\Scripts\pyinstaller --add-data "fastflix\data\encoders\*;fastflix\data\encoders" --add-data "fastflix\data\rotations\*;fastflix\data\rotations" --add-data "fastflix\data\fonts\*;fastflix\data\fonts" --add-data "fastflix\data\icon.ico;fastflix\data" --add-data "CHANGES;fastflix\." --add-data "docs\build-licenses.txt;docs" --hidden-import=pyqt5 --hidden-import=requests --hidden-import="python-box" --hidden-import=reusables --hidden-import="pkg_resources.py2_warn"  fastflix\gui.py  --icon fastflix\data\icon.ico --name FastFlix --clean
  - cmd: '"C:\Program Files (x86)\NSIS\makensis.exe" FastFlix.nsi'

after_build:
  - cmd: move dist\*.exe .
  - cmd: move docs\build-licenses.txt LICENSE
  - cmd: 7z a FastFlix_%VERSION%_win64.zip FastFlix.exe LICENSE
  - cmd: move FastFlix_installer.exe FastFlix_%VERSION%_installer.exe

test: off

artifacts:
  - path: 'FastFlix_%VERSION%_win64.zip'
  - path: 'FastFlix_%VERSION%_installer.exe'
