version: 1.0.0-{build}

image:
  - Ubuntu1804
  - Visual Studio 2017

platform: x64

branches:
  only:
  - master
  - build

install:
  - cmd: C:\Python36-x64\python -m pip install --upgrade pip setuptools --ignore-installed
  - cmd: C:\Python36-x64\python -m pip install -r requirements.txt
  - sh: sudo apt install python3-pip -y
  - sh: sudo python3.6 -m pip install --upgrade pip setuptools --ignore-installed --no-cache-dir
  - sh: sudo python3.6 -m pip install -r requirements.txt --no-cache-dir --progress-bar off


build_script:
  - cmd: C:\Python36-x64\Scripts\pyinstaller --add-data "data\icon.ico;data" --paths "C:\Python36-x64\Lib\site-packages\shiboken2" --noconsole flix\gui.py  --icon data\icon.ico --name FastFlix --clean --onefile
  - sh: pyinstaller --add-data "data/icon.ico:data/" --noconsole flix/gui.py  --icon data/icon.ico --name FastFlix --clean --onefile

test: off

artifacts:
  - path: dist\*
