name: Build executables for Windows
on:
  push:
    branches: [ master, develop, build, re-org ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:

    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Gather build version
      shell: powershell
      run: |
        mkdir dist
        New-Item -Path Env: -Name VERSION -Value $(python.exe scripts\get_version.py)
        echo "Building branch $env:GITHUB_REF - version $env:VERSION"
        echo "::set-env name=VERSION::$env:VERSION"
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: true

    - name: Insatll requirements
      shell: cmd
      run: |
        python -m pip install --upgrade pip setuptools --ignore-installed
        python -m pip install --upgrade pypiwin32 wheel
        python -m pip install -r requirements-build.txt

    - name: Grab language list iso-639-3
      shell: powershell
      run: Invoke-WebRequest https://iso639-3.sil.org/sites/iso639-3/files/downloads/iso-639-3.tab -O iso-639-3.tab

    - name: Build single executable
      shell: cmd
      run: pyinstaller FastFlix_Windows_OneFile.spec

    - name: Build installer executable
      shell: cmd
      run: pyinstaller FastFlix_Windows_Installer.spec

#    - name: Package installer
#      shell: cmd
#      run: |
#
    - name: Package single executable
      shell: cmd
      run: |
        move dist\*.exe .
        move docs\build-licenses.txt LICENSE

    - name: Upload standalone executable artifact
      uses: actions/upload-artifact@v2
      with:
        name: FastFlix_${{ env.VERSION }}_win64
        path: |
          FastFlix.exe
          LICENSE

    - name: Upload installer artifact
      uses: actions/upload-artifact@v2
      with:
        name: FastFlix_${{ env.VERSION }}_installer
        path: dist\FastFlix\
