name: Build executables for Mac
on:
  push:
    branches: [ master, develop, build ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Gather build version
      run: |
        mkdir dist
        echo "::set-env name=VERSION::$(python scripts/get_version.py)"
        echo "Building branch ${{env.GITHUB_REF}} - version ${{env.VERSION}}"
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: true

    - name: Insatll requirements
      run: |
        python -m pip install --upgrade pip setuptools --ignore-installed
        python -m pip install --upgrade wheel
        python -m pip install -r requirements-build.txt

    - name: Grab language list iso-639-3
      run: curl -o iso-639-3.tab https://iso639-3.sil.org/sites/iso639-3/files/downloads/iso-639-3.tab

    - name: Build executable
      run: pyinstaller FastFlix_Nix_OneFile.spec

    - name: Copy license to dist
      run: |
        cp docs/build-licenses.txt dist/LICENSE

    - name: Test executable
      run: |
        chmod +x dist/FastFlix
        dist/FastFlix --version
        dist/FastFlix --test

    - name: Upload standalone executable artifact
      uses: actions/upload-artifact@v2
      with:
        name: FastFlix_${{ env.VERSION }}_macos
        path: |
          dist/FastFlix
          dist/LICENSE
