name: Lint and Test

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - run: pip install ruff==0.12
    - run: python -m ruff check

  test:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install PySide6 requirements
      run: |
        sudo apt update
        sudo apt install libopengl0 freeglut3-dev -y

    - name: Install requirements
      run: |
        python -m pip install --upgrade pip setuptools
        pip install .
        pip install .[develop]

    - name: Run tests
      env:
        PYTEST_QT_API: pyside6
      run: pytest tests -v
