name: Lint and Tests

on:
  push:
    branches-ignore:
      - master
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v3
      with:
        python-version: "3.11"

    - uses: actions/cache@v2
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ env.pythonLocation }}-black

    - run: pip install black==22.10.0
    - run: python -m black --check .

  test:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Install PySide6 requirements
      run: |
        sudo apt update
        sudo apt install libopengl0 freeglut3 freeglut3-dev -y

    - uses: syphar/restore-pip-download-cache@v1

    - name: Install requirements
      run: |
        python -m pip install --upgrade pip setuptools poetry

    - name: Poetry Install
      run: poetry install --with dev
      continue-on-error: true

    - name: Poetry Install 2
      run: poetry install --with dev

    - name: Run tests
      env:
        PYTEST_QT_API: pyside6
      run: pytest tests
